@tailwind base;
@tailwind components;
@tailwind utilities;

.mean-line {
  @apply stroke-teal-50 divide-dashed;

  stroke-dasharray: 2px 4px;
}

.mean-label {
  @apply fill-teal-500 text-xs;

  text-anchor: middle;
}

.right-side-label {
  text-anchor: end;
}
.left-side-label {
  text-anchor: start;
}

.tooltip {
  @apply absolute opacity-0 -top-3 left-0 px-4 py-2 bg-white border z-10 transition-all shadow-lg rounded pointer-events-none;
}

.tooltip:before {
  @apply absolute bottom-0 left-[50%] w-3 h-3 bg-white border z-10 shadow-lg;

  content: '';
  border-top-color: transparent;
  border-left-color: transparent;
  transform: translate(-50%, 50%) rotate(45deg);
  transform-origin: center center;
}

.hovered {
  @apply fill-cyan-500;
}
